.challenge-2 {
  font-family: roboto;
  background-color: green;
}
nav li, nav a {
  display: inline-block;
}

nav {
  text-align: center;
}
nav a {
  text-decoration: none;
  padding: 40px 5px;
  color: #FFFFFF;
}
nav a:hover {
  background-color: rgb(130, 255, 187);
  text-decoration: underline;
}
