* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: green;
}

header {
  background-color: rgb(92, 92, 92);
}

nav li, nav a {
  display: inline-block;
}

nav {
  text-align: center;
}
nav a {
  text-decoration: none;
  color: black;
  padding: 40px 5px;
}
nav a:hover {
  background-color: rgb(130, 255, 187);
}

.placeholder {
  background-color: rgb(130, 255, 187);
  padding: 40px 5px;
}
.placeholder p {
  padding: 0 50px;
}
